
.BookerlyBold {
    font-family: "BookerlyBold";
}
.BookerlyBoldItalic {
    font-family: "BookerlyBoldItalic";
}
.BookerlyDisplayBoldItalic {
    font-family: "BookerlyDisplayBoldItalic";
}
.BookerlyDisplay {
    font-family: "BookerlyDisplay";
}
.BookerlyItalic {
    font-family: "BookerlyItalic";
}
.BookerlyLightItalic {
    font-family: "BookerlyLightItalic";
}
.BookerlyLight {
    font-family: "BookerlyLight";
}
.Bookerly {
    font-family: "Bookerly";
}
.EtnaFreeFont {
    font-family: "EtnaFreeFont";
}
.GogonoCocoaMochiCyrillic {
    font-family: "GogonoCocoaMochiCyrillic";
}
.GULAGPavljenko {
    font-family: "GULAGPavljenko";
}
.HellasDustCyrillic {
    font-family: "HellasDustCyrillic";
}
.MorningBreezeBold {
    font-family: "MorningBreezeBold";
}
.MorningBreezeItalic {
    font-family: "MorningBreezeItalic";
}
.MorningBreezeLight {
    font-family: "MorningBreezeLight";
}
.MorningBreeze {
    font-family: "MorningBreeze";
}
.OldSoviet {
    font-family: "OldSoviet";
}
.SquareMeal {
    font-family: "SquareMeal";
}
.ZarubkaTypeRegular {
    font-family: "ZarubkaTypeRegular";
}
.ZaychikRegular {
    font-family: "ZaychikRegular";
}
.MainBack {
    line-height: 1;
    overflow:hidden;
    white-space: pre;
    width: 100%;
    height: 100%;
    background-color: var(--CardBackColorObvodka);
    padding: var(--CardBackPaddingT) var(--CardBackPaddingR) var(--CardBackPaddingB) var(--CardBackPaddingL);
    .Zagolovok {
        border-top-right-radius: var(--CardBackZagolovok┐);
        border-top-left-radius: var(--CardBackZagolovok┌);
        border-bottom-right-radius: var(--CardBackZagolovok┘);
        border-bottom-left-radius: var(--CardBackZagolovok└);
        width: 100%;
        overflow: hidden;
        background-color: var(--CardBackZagolovokBackgroundColor);
        height: var(--CardBackZagolovokTextSize);
        font-size: var(--CardBackZagolovokTextFont);
        text-align: var(--CardBackZagolovokTextAlign);
        color: var(--CardBackZagolovokTextColor);
        padding: 0 var(--CardBackZagolovokTextPadding);
        display: flex;
        align-items: center;
        div {
            width: 100%;
        }
    }
    .Per {
        overflow: hidden;
        border-top-right-radius: var(--CardBackPer┐);
        border-top-left-radius: var(--CardBackPer┌);
        border-bottom-right-radius: var(--CardBackPer┘);
        border-bottom-left-radius: var(--CardBackPer└);
        background-color: var(--CardPerBackgroundColor);
        height: var(--CardPerTextSize);
        font-size: var(--CardPerTextFont);
        text-align: var(--CardPerTextAlign);
        color: var(--CardPerTextColor);
        padding: 0 var(--CardPerTextPadding);
        display: flex;
        align-items: center;
        width: 100%;
        div {
            width: 100%;
        }
    }
    .Description {
        div {
            width: 100%;
            padding: var(--CardBackDescriptionPaddingT) var(--CardBackDescriptionPaddingR) var(--CardBackDescriptionPaddingB) var(--CardBackDescriptionPaddingL);
        }
        line-height: var(--LineHeight);
        border-top-right-radius: var(--CardBackInside┐);
        border-top-left-radius: var(--CardBackInside┌);
        border-bottom-right-radius: var(--CardBackInside┘);
        border-bottom-left-radius: var(--CardBackInside└);
        overflow: hidden;
        height: calc(100% - var(--CardBackDownTextSize) - var(--CardBackZagolovokTextSize) - var(--CardPerTextSize));
        background-color: var(--CardBackDescriptionBackgroundColor);
        white-space:pre-wrap;
        display: flex;
        justify-content: center;
        text-align: var(--CardBackDescriptionTextAlign);
        align-items: start;
        width: 100%;
        font-size: var(--CardBackDescriptionFont);
        color: var(--CardBackDescriptionColor);
    }
    .DowtText {
        overflow: hidden;
        background-color: var(--CardBackDownBackgroundColor);
        border-top-right-radius: var(--CardBackDown┐);
        border-top-left-radius: var(--CardBackDown┌);
        border-bottom-right-radius: var(--CardBackDown┘);
        border-bottom-left-radius: var(--CardBackDown└);
        height: var(--CardBackDownTextSize);
        font-size: var(--CardBackDownTextFont);
        text-align: var(--CardBackDownTextAlign);
        color: var(--CardBackDownTextColor);
        padding: 0 var(--CardBackDownTextPadding);
        display: flex;
        justify-content: var(--CardBackDownTextAlign);
        align-items: center;
    }
}
.Main {
    line-height: 1;
    overflow:hidden;
    white-space: pre;
    width: 100%;
    height: 100%;
    background-color: var(--CardColorObvodka);
    border-right: var(--LineCut) solid var(--ListColor);
    border-bottom: var(--LineCut) solid var(--ListColor);
    padding: var(--CardPaddingT) var(--CardPaddingR) var(--CardPaddingB) var(--CardPaddingL);
    .Zagolovok {
        overflow: hidden;
        background-color: var(--CardZagolovokBackgroundColor);
        border-top-right-radius: var(--CardZagolovok┐);
        border-top-left-radius: var(--CardZagolovok┌);
        border-bottom-right-radius: var(--CardZagolovok┘);
        border-bottom-left-radius: var(--CardZagolovok└);
        height: var(--CardZagolovokTextSize);
        font-size: var(--CardZagolovokTextFont);
        text-align: var(--CardZagolovokTextAlign);
        color: var(--CardZagolovokTextColor);
        padding: 0 var(--CardZagolovokTextPadding);
        display: flex;
        justify-content: var(--CardZagolovokTextAlign);
        align-items: center;
    }

    .hidden{
        display: none;
    }
    .Inside {
        overflow: hidden;
        height: calc(100% - var(--CardZagolovokTextSize) - var(--CardDownTextSize));
        border-top-right-radius: var(--CardInside┐);
        border-top-left-radius: var(--CardInside┌);
        border-bottom-right-radius: var(--CardInside┘);
        border-bottom-left-radius: var(--CardInside└);
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: var(--CardDescriptionBackgroundColor);
        position: relative;
        img {
            width: 100%;
        }
        .Description {
            img {
                position: absolute;
                width: 100%;
                right: 0;
                bottom: 0;
                height: 100%;
                z-index: 0;
            }
            position: absolute;
            bottom: 0;
            left: 0;
            div {
                z-index: 1;
                width: 100%;
            }
            white-space: pre-wrap;
            display: flex;
            text-align: var(--CardDescriptionTextAlign);
            align-items: center;
            width: 100%;
            font-size: var(--CardDescriptionFont);
            color: var(--CardDescriptionColor);
            padding: var(--CardDescriptionPaddingT) var(--CardDescriptionPaddingR) var(--CardDescriptionPaddingB) var(--CardDescriptionPaddingL);
        }
        .Krug {
            position:absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow:hidden;
        }
        .Krug1 {
            font-size: var(--Krug1FontSize);
            background-color: var(--Krug1BackgroundColor);
            color: var(--Krug1TextColor);
            width: var(--Krug1W);
            height: var(--Krug1H);
            top: var(--Krug1T);
            left: var(--Krug1L);        
            border-top-right-radius: var(--Krug1┐);
            border-top-left-radius: var(--Krug1┌);
            border-bottom-right-radius: var(--Krug1┘);
            border-bottom-left-radius: var(--Krug1└);
            border: var(--Krug1Bordersize) solid var(--Krug1BorderColor)
        }
        .Krug2 {
            font-size: var(--Krug2FontSize);
            background-color: var(--Krug2BackgroundColor);
            color: var(--Krug2TextColor);
            width: var(--Krug2W);
            height: var(--Krug2H);
            top: var(--Krug2T);
            left: var(--Krug2L);        
            border-top-right-radius: var(--Krug2┐);
            border-top-left-radius: var(--Krug2┌);
            border-bottom-right-radius: var(--Krug2┘);
            border-bottom-left-radius: var(--Krug2└);
            border: var(--Krug2Bordersize) solid var(--Krug2BorderColor)
        }
        .Krug3 {
            font-size: var(--Krug3FontSize);
            background-color: var(--Krug3BackgroundColor);
            color: var(--Krug3TextColor);
            width: var(--Krug3W);
            height: var(--Krug3H);
            top: var(--Krug3T);
            left: var(--Krug3L);        
            border-top-right-radius: var(--Krug3┐);
            border-top-left-radius: var(--Krug3┌);
            border-bottom-right-radius: var(--Krug3┘);
            border-bottom-left-radius: var(--Krug3└);
            border: var(--Krug3Bordersize) solid var(--Krug3BorderColor)
        }
        .Krug4{
            font-size: var(--Krug4FontSize);
            background-color: var(--Krug4BackgroundColor);
            color: var(--Krug4TextColor);
            width: var(--Krug4W);
            height: var(--Krug4H);
            top: var(--Krug4T);
            left: var(--Krug4L);        
            border-top-right-radius: var(--Krug4┐);
            border-top-left-radius: var(--Krug4┌);
            border-bottom-right-radius: var(--Krug4┘);
            border-bottom-left-radius: var(--Krug4└);
            border: var(--Krug4Bordersize) solid var(--Krug4BorderColor)
        }
    }
    .DowtText {
        overflow: hidden;
        background-color: var(--CardDownBackgroundColor);
        border-top-right-radius: var(--CardDown┐);
        border-top-left-radius: var(--CardDown┌);
        border-bottom-right-radius: var(--CardDown┘);
        border-bottom-left-radius: var(--CardDown└);
        height: var(--CardDownTextSize);
        font-size: var(--CardDownTextFont);
        text-align: var(--CardDownTextAlign);
        color: var(--CardDownTextColor);
        padding: 0 var(--CardDownTextPadding);
        display: flex;
        justify-content: var(--CardDownTextAlign);
        align-items: center;
    }
}